
{# templates/lucky/number.html.twig #}

<body>



<h1>Your lucky number is {{ number }}</h1>

<h2> Nguyen Van Dat </h2>
<p> PHP DEVELOPER </p>

 <ul>
     <li>
         Truong : Khoa Hoc tu nhien .
     </li>
 </ul>
</body>